[Unit]
Description=reliability-group2-week5

[Service]
User=reliability-devops-group2
WorkingDirectory=/reliability-devops-group2
ExecStart=scripts/start_server.sh
Restart=always

[Install]
WantedBy=multi-user.target