name: Deploy application

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        # TODO Change your AWS region here!
        aws-region: us-east-2








# name: Deploy application

# on:
#   push:
#     branches: [ master ]

# jobs:
#   deploy:
#     runs-on: ubuntu-latest
#     steps:
#       - name: Deploy NodeJS app
#         uses: appleboy/ssh-action@v0.1.2
#         with:
#           host: ${{secrets.SSH_HOST}}
#           username: ${{ secrets.SSH_USERNAME }}
#           password: ${{ secrets.SSH_PASSWORD }}
#           script: |
#             mkdir -p ~/my-express-app/ # create a new folder
#             cd ~/my-express-app/ # navigate into the folder
#             git clone https://github.com/schosen/reliability-devops-group2.git app # clone the repo into the 'app' folder
#             cd reliability-devops-group2 # navigate into the repo
#             npm install # install dependencies 
#             pm2 start app.js # start as a background service.
